Tutorial from: https://www.datacamp.com/community/tutorials/scikit-learn-tutorial-baseball-2

In [1]:
import pandas as pd
pd.options.display.max_columns = None

In [2]:
# read in csv files
master_df = pd.read_csv('../baseballdatabank/core/People.csv', 
                        usecols=['playerID','nameFirst','nameLast',
                                 'bats','throws','debut','finalGame'])

master_df.head()

    playerID nameFirst nameLast bats throws       debut   finalGame
0  aardsda01     David  Aardsma    R      R  2004-04-06  2015-08-23
1  aaronha01      Hank    Aaron    R      R  1954-04-13  1976-10-03
2  aaronto01    Tommie    Aaron    R      R  1962-04-10  1971-09-26
3   aasedo01       Don     Aase    R      R  1977-07-26  1990-10-03
4   abadan01      Andy     Abad    L      L  2001-09-10  2006-04-13

In [3]:
fielding_df = pd.read_csv('../baseballdatabank/core/Fielding.csv',
                          usecols=['playerID','yearID','stint','teamID',
                                   'lgID','POS','G','GS','InnOuts','PO',
                                   'A','E','DP'])
fielding_df.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP
0,abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0
1,addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5
2,addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0
3,allisar01,1871,1,CL1,NaN,2B,2,0.0,18.0,1,4,0.0,0
4,allisar01,1871,1,CL1,NaN,OF,29,29.0,729.0,51,3,7.0,1

In [4]:
batting_df = pd.read_csv('../baseballdatabank/core/Batting.csv')

batting_df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [5]:
awards_df = pd.read_csv('../baseballdatabank/core/AwardsPlayers.csv',
                       usecols=['playerID', 'awardID', 'yearID'])

awards_df.head()

    playerID                awardID  yearID
0   bondto01  Pitching Triple Crown    1877
1  hinespa01           Triple Crown    1878
2  heckegu01  Pitching Triple Crown    1884
3  radboch01  Pitching Triple Crown    1884
4  oneilti01           Triple Crown    1887

In [6]:
allstar_df = pd.read_csv('../baseballdatabank/core/AllstarFull.csv',
                        usecols=['playerID', 'yearID'])

allstar_df.head()

    playerID  yearID
0  gomezle01    1933
1  ferreri01    1933
2  gehrilo01    1933
3  gehrich01    1933
4  dykesji01    1933

In [7]:
hof_df = pd.read_csv('../baseballdatabank/core/HallOfFame.csv', 
                    usecols=['playerID', 'yearID', 'votedBy', 'needed_note',
                            'inducted', 'category'])

hof_df.head()

    playerID  yearID votedBy inducted category needed_note
0   cobbty01    1936   BBWAA        Y   Player         NaN
1   ruthba01    1936   BBWAA        Y   Player         NaN
2  wagneho01    1936   BBWAA        Y   Player         NaN
3  mathech01    1936   BBWAA        Y   Player         NaN
4  johnswa01    1936   BBWAA        Y   Player         NaN

In [8]:
appearances_df = pd.read_csv('../baseballdatabank/core/Appearances.csv')

In [9]:
# check batting columns
batting_df.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [10]:
# initialize dictionaries for player stats and years played
player_stats = {}
years_played = {}

# create dictionaries for player stats and years played from batting_df
for i, row in batting_df.iterrows():
    playerID = row['playerID']
    if playerID in player_stats:
        player_stats[playerID]['G'] = player_stats[playerID]['G'] + row['G']
        player_stats[playerID]['AB'] = player_stats[playerID]['AB'] + row['AB']
        player_stats[playerID]['R'] = player_stats[playerID]['R'] + row['R']
        player_stats[playerID]['H'] = player_stats[playerID]['H'] + row['H']
        player_stats[playerID]['2B'] = player_stats[playerID]['2B'] + row['2B']
        player_stats[playerID]['3B'] = player_stats[playerID]['3B'] + row['3B']
        player_stats[playerID]['HR'] = player_stats[playerID]['HR'] + row['HR']
        player_stats[playerID]['RBI'] = player_stats[playerID]['RBI'] + row['RBI']
        player_stats[playerID]['SB'] = player_stats[playerID]['SB'] + row['SB']
        player_stats[playerID]['BB'] = player_stats[playerID]['BB'] + row['BB']
        player_stats[playerID]['SO'] = player_stats[playerID]['SO'] + row['SO']
        player_stats[playerID]['IBB'] = player_stats[playerID]['IBB'] + row['IBB']
        player_stats[playerID]['HBP'] = player_stats[playerID]['HBP'] + row['HBP']
        player_stats[playerID]['SH'] = player_stats[playerID]['SH'] + row['SH']
        player_stats[playerID]['SF'] = player_stats[playerID]['SF'] + row['SF']
        years_played[playerID].append(row['yearID'])
    
    else:
        player_stats[playerID] = {}
        player_stats[playerID]['G'] = row['G']
        player_stats[playerID]['AB'] = row['AB']
        player_stats[playerID]['R'] = row['R']
        player_stats[playerID]['H'] = row['H']
        player_stats[playerID]['2B'] = row['2B']
        player_stats[playerID]['3B'] = row['3B']
        player_stats[playerID]['HR'] = row['HR']
        player_stats[playerID]['RBI'] = row['RBI']
        player_stats[playerID]['SB'] = row['SB']
        player_stats[playerID]['BB'] = row['BB']
        player_stats[playerID]['SO'] = row['SO']
        player_stats[playerID]['IBB'] = row['IBB']
        player_stats[playerID]['HBP'] = row['HBP']
        player_stats[playerID]['SH'] = row['SH'] 
        player_stats[playerID]['SF'] = row['SF']
        years_played[playerID] = []
        years_played[playerID].append(row['yearID'])

In [11]:
# iterate through years_played and add the number of years played to player_stats
for k, v in years_played.items():
    player_stats[k]['Years_Played'] = len(list(set(v)))

In [12]:
# initialize fielder_list
fielder_list = []

# add fielding stats to player_stats from fielding_df
for i, row in fielding_df.iterrows():
    playerID = row['playerID']
    Gf = row['G']
    GSf = row['GS']
    POf = row['PO']
    Af = row['A']
    Ef = row['E']
    DPf = row['DP']
    
    if playerID in player_stats and playerID in fielder_list:
        player_stats[playerID]['Gf'] = player_stats[playerID]['Gf'] + Gf
        player_stats[playerID]['GSf'] = player_stats[playerID]['GSf'] + GSf
        player_stats[playerID]['POf'] = player_stats[playerID]['POf'] + POf
        player_stats[playerID]['Af'] = player_stats[playerID]['Af'] + Af
        player_stats[playerID]['Ef'] = player_stats[playerID]['Ef'] + Ef
        player_stats[playerID]['DPf'] = player_stats[playerID]['DPf'] + DPf
    else:
        fielder_list.append(playerID)
        player_stats[playerID]['Gf'] = Gf
        player_stats[playerID]['GSf'] =  GSf
        player_stats[playerID]['POf'] =  POf
        player_stats[playerID]['Af'] = Af
        player_stats[playerID]['Ef'] = Ef
        player_stats[playerID]['DPf'] =  DPf

In [13]:
# check different kinds of awards
awards_df['awardID'].unique()

array(['Pitching Triple Crown', 'Triple Crown',
       'Baseball Magazine All-Star', 'Most Valuable Player',
       'TSN All-Star', 'TSN Guide MVP',
       'TSN Major League Player of the Year', 'TSN Pitcher of the Year',
       'TSN Player of the Year', 'Rookie of the Year', 'Babe Ruth Award',
       'Lou Gehrig Memorial Award', 'World Series MVP', 'Cy Young Award',
       'Gold Glove', 'TSN Fireman of the Year', 'All-Star Game MVP',
       'Hutch Award', 'Roberto Clemente Award',
       'Rolaids Relief Man Award', 'NLCS MVP', 'ALCS MVP',
       'Silver Slugger', 'Branch Rickey Award', 'Hank Aaron Award',
       'TSN Reliever of the Year', 'Comeback Player of the Year',
       'Outstanding DH Award', 'Reliever of the Year Award'], dtype=object)

In [14]:
# create dataframes for each award
mvp = awards_df[awards_df['awardID'] == 'Most Valuable Player']
roy = awards_df[awards_df['awardID'] == 'Rookie of the Year']
gg = awards_df[awards_df['awardID'] == 'Gold Glove']
ss = awards_df[awards_df['awardID'] == 'Silver Slugger']
ws_mvp = awards_df[awards_df['awardID'] == 'World Series MVP']

In [15]:
# include each dataframe in awards_list
awards_list = [mvp, roy, gg, ss, ws_mvp]

In [16]:
mvp_list = []
roy_list = []
gg_list = []
ss_list = []
ws_mvp_list = []

# Include each of the above lists in `lists`
lists = [mvp_list,roy_list,gg_list,ss_list,ws_mvp_list]

# add a count for each award for each player in player_stats
for index, v in enumerate(awards_list):
    for i, row in v.iterrows():
        playerID = row['playerID']
        award = row['awardID']
        if playerID in player_stats and playerID in lists[index]:
            player_stats[playerID][award] += 1
        else:
            lists[index].append(playerID)
            player_stats[playerID][award] = 1

In [17]:
# initialize allstar_list
allstar_list = []

# add a count for each Allstar game appearance for each player in player_stats
for i , row in allstar_df.iterrows():
    playerID = row['playerID']
    if playerID in player_stats and playerID in allstar_list:
        player_stats[playerID]['AS_games'] += 1
    else:
        allstar_list.append(playerID)
        player_stats[playerID]['AS_games'] = 1

In [18]:
# filter hof_df to include only those instances where a player was inducted into HOF
hof_df = hof_df[(hof_df['inducted'] == 'Y') & (hof_df['category'] == 'Player')]

hof_df.head()

    playerID  yearID votedBy inducted category needed_note
0   cobbty01    1936   BBWAA        Y   Player         NaN
1   ruthba01    1936   BBWAA        Y   Player         NaN
2  wagneho01    1936   BBWAA        Y   Player         NaN
3  mathech01    1936   BBWAA        Y   Player         NaN
4  johnswa01    1936   BBWAA        Y   Player         NaN

In [19]:
# indicate which players in player_stats were inducted into the HOF
for i, row in hof_df.iterrows():
    playerID = row['playerID']
    if playerID in player_stats:
        player_stats[playerID]['HoF'] = 1
        player_stats[playerID]['votedBy'] = row['votedBy']

In [20]:
# convert player_stats into a dataframe
stats_df = pd.DataFrame.from_dict(player_stats, orient='index')
stats_df.head()

,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger
aardsda01,331,4,0,0,0,0,0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,9,331.0,0.0,11.0,29.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aaronha01,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,NaN,32.0,21.0,121.0,23,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN
aaronto01,437,944,102,216,42,6,13,94.0,9.0,86,145.0,3.0,0.0,9.0,6.0,7,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aasedo01,448,5,0,0,0,0,0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,13,448.0,91.0,67.0,135.0,13.0,10.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
abadan01,15,21,1,2,0,0,0,0.0,0.0,4,5.0,0.0,0.0,0.0,0.0,3,9.0,4.0,37.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# add column for playerID from the stats_df index
stats_df['playerID'] = stats_df.index

In [22]:
master_df = master_df.join(stats_df, on='playerID', how='inner', rsuffix='mstr')

In [23]:
master_df[master_df['AS_games'] > 18]

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,NaN,32.0,21.0,121.0,23,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01
10984,mantlmi01,Mickey,Mantle,B,R,1951-04-17,1968-09-28,2401,8102,1677,2415,344,72,536,1509.0,153.0,1733,1710.0,NaN,13.0,14.0,NaN,18,2290.0,NaN,6734.0,290.0,107.0,201.0,1.0,BBWAA,3.0,20.0,1.0,NaN,NaN,NaN,mantlmi01
11341,mayswi01,Willie,Mays,R,R,1951-05-25,1973-09-09,2992,10881,2062,3283,523,140,660,1903.0,338.0,1464,1526.0,NaN,44.0,13.0,NaN,22,2929.0,NaN,7752.0,233.0,156.0,121.0,1.0,BBWAA,2.0,24.0,12.0,1.0,NaN,NaN,mayswi01
12745,musiast01,Stan,Musial,L,L,1941-09-17,1963-09-29,3026,10972,1949,3630,725,177,475,1951.0,78.0,1599,696.0,NaN,53.0,35.0,NaN,22,2907.0,NaN,12439.0,818.0,142.0,962.0,1.0,BBWAA,3.0,24.0,NaN,NaN,NaN,NaN,musiast01
14998,ripkeca01,Cal,Ripken,R,R,1981-08-10,2001-10-06,3001,11551,1647,3184,603,44,431,1695.0,36.0,1129,1305.0,107.0,66.0,10.0,127.0,21,2977.0,2958.0,4112.0,8214.0,294.0,1682.0,1.0,BBWAA,2.0,19.0,2.0,1.0,NaN,8.0,ripkeca01
19218,willite01,Ted,Williams,L,R,1939-04-20,1960-09-28,2292,7706,1798,2654,525,71,521,1839.0,24.0,2021,709.0,NaN,39.0,5.0,NaN,19,2152.0,NaN,4158.0,142.0,113.0,30.0,1.0,BBWAA,2.0,19.0,NaN,NaN,NaN,NaN,willite01

In [24]:
appearances_df.head()

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,TRO,NaN,abercda01,1,1.0,1,1.0,0,0,0,0,0,1,0,0,0,0,0.0,0.0,0.0
1,1871,RC1,NaN,addybo01,25,25.0,25,25.0,0,0,0,22,0,3,0,0,0,0,0.0,0.0,0.0
2,1871,CL1,NaN,allisar01,29,29.0,29,29.0,0,0,0,2,0,0,0,29,0,29,0.0,0.0,0.0
3,1871,WS3,NaN,allisdo01,27,27.0,27,27.0,0,27,0,0,0,0,0,0,0,0,0.0,0.0,0.0
4,1871,RC1,NaN,ansonca01,25,25.0,25,25.0,0,5,1,2,20,0,1,0,0,1,0.0,0.0,0.0

In [25]:
# Initialize a dictionary
pos_dict = {}

# Iterate through `appearances_df`
# Add a count for the number of appearances for each player at each position
# Also add a count for the number of games played for each player in each era.
for i, row in appearances_df.iterrows():
    ID = row['playerID']
    year = row['yearID']
    if ID in pos_dict:
        pos_dict[ID]['G_all'] = pos_dict[ID]['G_all'] + row['G_all']
        pos_dict[ID]['G_p'] = pos_dict[ID]['G_p'] + row['G_p']
        pos_dict[ID]['G_c'] = pos_dict[ID]['G_c'] + row['G_c']
        pos_dict[ID]['G_1b'] = pos_dict[ID]['G_1b'] + row['G_1b']
        pos_dict[ID]['G_2b'] = pos_dict[ID]['G_2b'] + row['G_2b']
        pos_dict[ID]['G_3b'] = pos_dict[ID]['G_3b'] + row['G_3b']
        pos_dict[ID]['G_ss'] = pos_dict[ID]['G_ss'] + row['G_ss']
        pos_dict[ID]['G_lf'] = pos_dict[ID]['G_lf'] + row['G_lf']
        pos_dict[ID]['G_cf'] = pos_dict[ID]['G_cf'] + row['G_cf']
        pos_dict[ID]['G_rf'] = pos_dict[ID]['G_rf'] + row['G_rf']
        pos_dict[ID]['G_of'] = pos_dict[ID]['G_of'] + row['G_of']
        pos_dict[ID]['G_dh'] = pos_dict[ID]['G_dh'] + row['G_dh']
        if year < 1920:
            pos_dict[ID]['pre1920'] = pos_dict[ID]['pre1920'] + row['G_all']
        elif year >= 1920 and year <= 1941:
            pos_dict[ID]['1920-41'] = pos_dict[ID]['1920-41'] + row['G_all']
        elif year >= 1942 and year <= 1945:
            pos_dict[ID]['1942-45'] = pos_dict[ID]['1942-45'] + row['G_all']
        elif year >= 1946 and year <= 1962:
            pos_dict[ID]['1946-62'] = pos_dict[ID]['1946-62'] + row['G_all']
        elif year >= 1963 and year <= 1976:
            pos_dict[ID]['1963-76'] = pos_dict[ID]['1963-76'] + row['G_all']
        elif year >= 1977 and year <= 1992:
            pos_dict[ID]['1977-92'] = pos_dict[ID]['1977-92'] + row['G_all']
        elif year >= 1993 and year <= 2009:
            pos_dict[ID]['1993-2009'] = pos_dict[ID]['1993-2009'] + row['G_all']
        elif year > 2009:
            pos_dict[ID]['post2009'] = pos_dict[ID]['post2009'] + row['G_all']
    else:
        pos_dict[ID] = {}
        pos_dict[ID]['G_all'] = row['G_all']
        pos_dict[ID]['G_p'] = row['G_p']
        pos_dict[ID]['G_c'] = row['G_c']
        pos_dict[ID]['G_1b'] = row['G_1b']
        pos_dict[ID]['G_2b'] = row['G_2b']
        pos_dict[ID]['G_3b'] = row['G_3b']
        pos_dict[ID]['G_ss'] = row['G_ss']
        pos_dict[ID]['G_lf'] = row['G_lf']
        pos_dict[ID]['G_cf'] = row['G_cf']
        pos_dict[ID]['G_rf'] = row['G_rf']
        pos_dict[ID]['G_of'] = row['G_of']
        pos_dict[ID]['G_dh'] = row['G_dh']
        pos_dict[ID]['pre1920'] = 0
        pos_dict[ID]['1920-41'] = 0
        pos_dict[ID]['1942-45'] = 0
        pos_dict[ID]['1946-62'] = 0
        pos_dict[ID]['1963-76'] = 0
        pos_dict[ID]['1977-92'] = 0
        pos_dict[ID]['1993-2009'] = 0
        pos_dict[ID]['post2009'] = 0
        if year < 1920:
            pos_dict[ID]['pre1920'] = row['G_all']
        elif year >= 1920 and year <= 1941:
            pos_dict[ID]['1920-41'] = row['G_all']
        elif year >= 1942 and year <= 1945:
            pos_dict[ID]['1942-45'] = row['G_all']
        elif year >= 1946 and year <= 1962:
            pos_dict[ID]['1946-62'] = row['G_all']
        elif year >= 1963 and year <= 1976:
            pos_dict[ID]['1963-76'] = row['G_all']
        elif year >= 1977 and year <= 1992:
            pos_dict[ID]['1977-92'] = row['G_all']
        elif year >= 1993 and year <= 2009:
            pos_dict[ID]['1993-2009'] = row['G_all']
        elif year > 2009:
            pos_dict[ID]['post2009'] = row['G_all']

In [26]:
# convert pos_dict to a dataframe
pos_df = pd.DataFrame.from_dict(pos_dict, orient='index')

In [27]:
pos_df.head()

,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009
aardsda01,331,331,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,201,130
aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0
aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0
aasedo01,448,448,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,448,0,0
abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0

In [28]:
pos_df.columns

Index(['G_all', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf',
       'G_rf', 'G_of', 'G_dh', 'pre1920', '1920-41', '1942-45', '1946-62',
       '1963-76', '1977-92', '1993-2009', 'post2009'],
      dtype='object')

In [29]:
# create list from columns of pos_df
pos_col_list = pos_df.columns.tolist()

In [30]:
# remove G_all 
pos_col_list.remove('G_all')

In [31]:
pos_col_list

['G_p',
 'G_c',
 'G_1b',
 'G_2b',
 'G_3b',
 'G_ss',
 'G_lf',
 'G_cf',
 'G_rf',
 'G_of',
 'G_dh',
 'pre1920',
 '1920-41',
 '1942-45',
 '1946-62',
 '1963-76',
 '1977-92',
 '1993-2009',
 'post2009']

In [32]:
# loop through the list and divide each column by the players total games played
for col in pos_col_list:
    column = col +'_percent'
    pos_df[column] = pos_df[col] /pos_df['G_all']
    
pos_df.head()

,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent
aardsda01,331,331,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,201,130,1.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.607251,0.392749
aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.0,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.000000,0.000000
aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.0,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.000000,0.000000
aasedo01,448,448,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,448,0,0,1.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,1.0,0.000000,0.000000
abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.0,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.000000

In [33]:
# filter pos_df to eliminate players who played 10% or more of their games as pitchers or catchers
pos_df = pos_df[(pos_df['G_p_percent'] < 0.1) & (pos_df['G_c_percent'] < 0.1)]

In [34]:
pos_df.head()

,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent
aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0
aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0
abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0
abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

In [35]:
# join pos_df and master_df
master_df = master_df.join(pos_df, on='playerID', how='right')

In [36]:
master_df.head()

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,NaN,32.0,21.0,121.0,23,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0
2,aaronto01,Tommie,Aaron,R,R,1962-04-10,1971-09-26,437,944,102,216,42,6,13,94.0,9.0,86,145.0,3.0,0.0,9.0,6.0,7,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0
4,abadan01,Andy,Abad,L,L,2001-09-10,2006-04-13,15,21,1,2,0,0,0,0.0,0.0,4,5.0,0.0,0.0,0.0,0.0,3,9.0,4.0,37.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0
6,abadijo01,John,Abadie,R,R,1875-04-26,1875-06-10,12,49,4,11,0,0,0,5.0,1.0,0,3.0,NaN,NaN,NaN,NaN,1,12.0,NaN,129.0,3.0,13.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
7,abbated01,Ed,Abbaticchio,R,R,1897-09-04,1910-09-15,855,3044,355,772,99,43,11,324.0,142.0,289,283.0,NaN,33.0,93.0,NaN,9,830.0,NaN,1873.0,2368.0,315.0,247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

In [37]:
# replace NA values with None
master_df['votedBy'] = master_df['votedBy'].fillna('None')

In [38]:
master_df['votedBy'].value_counts()

None                8214
BBWAA                 71
Veterans              50
Old Timers            11
Run Off                2
Special Election       2
Negro League           2
Name: votedBy, dtype: int64

In [39]:
master_df = master_df[(master_df['votedBy'] == 'None') | 
          (master_df['votedBy'] == 'BBWAA') | 
          (master_df['votedBy'] == 'Run Off')]

In [40]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8287 entries, 1 to 19787
Data columns (total 77 columns):
playerID                8287 non-null object
nameFirst               8258 non-null object
nameLast                8287 non-null object
bats                    7779 non-null object
throws                  7771 non-null object
debut                   8284 non-null object
finalGame               8284 non-null object
G                       8287 non-null int64
AB                      8287 non-null int64
R                       8287 non-null int64
H                       8287 non-null int64
2B                      8287 non-null int64
3B                      8287 non-null int64
HR                      8287 non-null int64
RBI                     8012 non-null float64
SB                      7826 non-null float64
BB                      8287 non-null int64
SO                      7674 non-null float64
IBB                     4233 non-null float64
HBP                     7721 non-null float64
SH                      7427 non-null float64
SF                      4285 non-null float64
Years_Played            8287 non-null int64
Gf                      8088 non-null float64
GSf                     4425 non-null float64
POf                     8088 non-null float64
Af                      8088 non-null float64
Ef                      8088 non-null float64
DPf                     8088 non-null float64
HoF                     73 non-null float64
votedBy                 8287 non-null object
Most Valuable Player    107 non-null float64
AS_games                878 non-null float64
Gold Glove              268 non-null float64
Rookie of the Year      94 non-null float64
World Series MVP        27 non-null float64
Silver Slugger          253 non-null float64
playerIDmstr            8287 non-null object
G_all                   8287 non-null int64
G_p                     8287 non-null int64
G_c                     8287 non-null int64
G_1b                    8287 non-null int64
G_2b                    8287 non-null int64
G_3b                    8287 non-null int64
G_ss                    8287 non-null int64
G_lf                    8287 non-null int64
G_cf                    8287 non-null int64
G_rf                    8287 non-null int64
G_of                    8287 non-null int64
G_dh                    7899 non-null float64
pre1920                 8287 non-null int64
1920-41                 8287 non-null int64
1942-45                 8287 non-null int64
1946-62                 8287 non-null int64
1963-76                 8287 non-null int64
1977-92                 8287 non-null int64
1993-2009               8287 non-null int64
post2009                8287 non-null int64
G_p_percent             8287 non-null float64
G_c_percent             8287 non-null float64
G_1b_percent            8287 non-null float64
G_2b_percent            8287 non-null float64
G_3b_percent            8287 non-null float64
G_ss_percent            8287 non-null float64
G_lf_percent            8287 non-null float64
G_cf_percent            8287 non-null float64
G_rf_percent            8287 non-null float64
G_of_percent            8287 non-null float64
G_dh_percent            7899 non-null float64
pre1920_percent         8287 non-null float64
1920-41_percent         8287 non-null float64
1942-45_percent         8287 non-null float64
1946-62_percent         8287 non-null float64
1963-76_percent         8287 non-null float64
1977-92_percent         8287 non-null float64
1993-2009_percent       8287 non-null float64
post2009_percent        8287 non-null float64
dtypes: float64(40), int64(28), object(9)
memory usage: 4.9+ MB

In [41]:
# create function that converts the bats and throws columns to numeric
def bats_throws(col):
    if col =='R':
        return 1
    else:
        return 0

In [43]:
# convert bats and throws columns
master_df['throws_R'] = master_df['throws'].apply(bats_throws)
master_df['bats_R'] = master_df['bats'].apply(bats_throws)
master_df.head()

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent,throws_R,bats_R
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,NaN,32.0,21.0,121.0,23,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0,1,1
2,aaronto01,Tommie,Aaron,R,R,1962-04-10,1971-09-26,437,944,102,216,42,6,13,94.0,9.0,86,145.0,3.0,0.0,9.0,6.0,7,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0,1,1
4,abadan01,Andy,Abad,L,L,2001-09-10,2006-04-13,15,21,1,2,0,0,0,0.0,0.0,4,5.0,0.0,0.0,0.0,0.0,3,9.0,4.0,37.0,1.0,1.0,3.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0,0,0
6,abadijo01,John,Abadie,R,R,1875-04-26,1875-06-10,12,49,4,11,0,0,0,5.0,1.0,0,3.0,NaN,NaN,NaN,NaN,1,12.0,NaN,129.0,3.0,13.0,1.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1
7,abbated01,Ed,Abbaticchio,R,R,1897-09-04,1910-09-15,855,3044,355,772,99,43,11,324.0,142.0,289,283.0,NaN,33.0,93.0,NaN,9,830.0,NaN,1873.0,2368.0,315.0,247.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1

In [45]:
from datetime import datetime

In [47]:
# convert debut and finalGame to datetime
master_df['debut'] = pd.to_datetime(master_df['debut'])
master_df['finalGame'] = pd.to_datetime(master_df['finalGame'])

In [49]:
# create new columns for debutYear and finalYear
master_df['debutYear'] = pd.to_numeric(master_df['debut'].dt.strftime('%Y'), errors='coerce')
master_df['finalYear'] = pd.to_numeric(master_df['finalGame'].dt.strftime('%Y'), errors='coerce')
master_df.head()

,playerID,nameFirst,nameLast,bats,throws,debut,finalGame,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,Years_Played,Gf,GSf,POf,Af,Ef,DPf,HoF,votedBy,Most Valuable Player,AS_games,Gold Glove,Rookie of the Year,World Series MVP,Silver Slugger,playerIDmstr,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,pre1920,1920-41,1942-45,1946-62,1963-76,1977-92,1993-2009,post2009,G_p_percent,G_c_percent,G_1b_percent,G_2b_percent,G_3b_percent,G_ss_percent,G_lf_percent,G_cf_percent,G_rf_percent,G_of_percent,G_dh_percent,pre1920_percent,1920-41_percent,1942-45_percent,1946-62_percent,1963-76_percent,1977-92_percent,1993-2009_percent,post2009_percent,throws_R,bats_R,debutYear,finalYear
1,aaronha01,Hank,Aaron,R,R,1954-04-13,1976-10-03,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,NaN,32.0,21.0,121.0,23,3020.0,2977.0,7436.0,429.0,144.0,218.0,1.0,BBWAA,1.0,25.0,3.0,NaN,NaN,NaN,aaronha01,3298,0,0,210,43,7,0,315,308,2174,2760,201.0,0,0,0,1350,1948,0,0,0,0.0,0.0,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,0.0,0.0,0.0,0.409339,0.590661,0.0,0.0,0.0,1,1,1954.0,1976.0
2,aaronto01,Tommie,Aaron,R,R,1962-04-10,1971-09-26,437,944,102,216,42,6,13,94.0,9.0,86,145.0,3.0,0.0,9.0,6.0,7,387.0,206.0,1317.0,113.0,22.0,124.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,aaronto01,437,0,0,232,7,10,0,135,1,2,137,0.0,0,0,0,141,296,0,0,0,0.0,0.0,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,0.0,0.0,0.0,0.322654,0.677346,0.0,0.0,0.0,1,1,1962.0,1971.0
4,abadan01,Andy,Abad,L,L,2001-09-10,2006-04-13,15,21,1,2,0,0,0,0.0,0.0,4,5.0,0.0,0.0,0.0,0.0,3,9.0,4.0,37.0,1.0,1.0,3.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadan01,15,0,0,8,0,0,0,0,0,1,1,0.0,0,0,0,0,0,0,15,0,0.0,0.0,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.0,0.0,0,0,2001.0,2006.0
6,abadijo01,John,Abadie,R,R,1875-04-26,1875-06-10,12,49,4,11,0,0,0,5.0,1.0,0,3.0,NaN,NaN,NaN,NaN,1,12.0,NaN,129.0,3.0,13.0,1.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abadijo01,12,0,0,12,0,0,0,0,0,0,0,0.0,12,0,0,0,0,0,0,0,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1875.0,1875.0
7,abbated01,Ed,Abbaticchio,R,R,1897-09-04,1910-09-15,855,3044,355,772,99,43,11,324.0,142.0,289,283.0,NaN,33.0,93.0,NaN,9,830.0,NaN,1873.0,2368.0,315.0,247.0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,abbated01,857,0,0,0,419,20,388,0,2,1,3,NaN,857,0,0,0,0,0,0,0,0.0,0.0,0.000000,0.488915,0.023337,0.452742,0.000000,0.002334,0.001167,0.003501,NaN,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1,1,1897.0,1910.0